---
---

@import 'fonts';
@import 'leaflet';

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fefefe;
}

body, input, button {
  font-size: 18px;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body, a, a:visited {
  color: #111;
}

main {
  width: 800px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

header nav img {
  display: block;
  width: 100%;
}

section {
  padding: 0.5em;
}

audio {
  width: 100%;
}

.centered-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-wrap {
  white-space: nowrap;
}

.leaflet-box {
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}

.leaflet-popup-content-wrapper {
  border-radius: 4px;
}

button, .button {
  background-color: {{ site.style.primary-color }};
  color: #fefefe;
  border-radius: 4px;
  padding: 0.3em 0.5em;
  display: inline-block;
  cursor: pointer;
  border: none;
  text-decoration: none;
  border-style: solid;
  border-width: 4px;
  border-color: #fefefe;
  text-align: center;
}

.button:visited {
  color: #fefefe;
}

.location-header > * {
  display: inline;
}

.location-header h3 {
  color: #777;
}

#map-container {
  width: 100%;
  flex-grow: 1;
  position: relative;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
}

#map-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#map-footer , #map-footer > div {
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map-footer > div {
  display: none;
  background-color: #fefefe;
  position: relative;
  z-index: 999;
}

/*#slider-container {
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  width: 30%;
  box-sizing: border-box;
  left: calc(50% - 15%);
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  background-color: white;
  padding: .5em 1em;
  border-radius: 20px;
  display: flex;
}

#slider {
  margin: 0 1em;
  padding: 0;
  width: 100%;
}

#opacity {
  text-align: right;
  width: 4.5em;
}

@media (max-width: 1000px) {
  #slider-container {
    width: 95%;
    left: 2.5%;
  }
}*/
