<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    {% if include.title %}
    <title>{{ include.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}/css/leaflet.css"/>
    <script src="{{ site.baseurl }}/js/leaflet.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/L.Control.Locate.min.css" />
    <script src="{{ site.baseurl }}/js/L.Control.Locate.min.js" charset="utf-8"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css"/>
  </head>
  <body>
    <main>
      <header>
        <nav>
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/header.png" alt="{{ site.title }}" /></a>
        </nav>
      </header>
