{% include header.html title=page.title %}
<section>
  <div class="location-header">
    <div class="number-container">
      <div class="number-circle">{{ page.order }}</div>
    </div>
    <h2>{{ page.title }}</h2>
    <h3><a href="https://maps.google.com/?q={{ page.coordinates[1] }},{{ page.coordinates[0] }}">{{ page.address }}</a></h3>
    <a class="button no-wrap" href="{{ site.baseurl }}/tour/">Back to tour</a>
  </div>

  {% if page.fields %}
  <dl>
    {% for field in page.fields %}
    <dt>{{ field[0] }}</dt>
    <dd>{{ field[1] }}</dd>
    {% endfor %}
  </dl>
  {% endif %}

  {{ content }}

  {% if page.audio %}
  <audio controls>
    <source src="{{ page.audio }}" >
    Your browser does not support the audio element.
  </audio>
  {% endif %}

  {% if page.maps %}
  {% include map.html maps=page.maps center=page.coordinates %}
  {% endif %}

  <p>
    Go to other locations:
  </p>
  {% include menu.html %}

</section>
{% include footer.html %}
