{% include header.html %}
<div id="map-container">
  {{content}}
  <div id="map-footer">
    <div class="leaflet-box" id="footer-too-far">
      <span>No nearby locations</span>
      <button id="footer-show-route-button">Show route on map</button>
    </div>
    {% for location in site.locations %}
    <div class="leaflet-box footer-nearest" data-id="{{ location.id | replace: "/locations/", "" }}">
      <span>Nearest location:</span>
      <a class="button" href="{{ site.baseurl }}{{ location.url }}">{{ location.title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
<script>{% include polyfill.js %}</script>
<script>{% include variables.js %}</script>
<script src="{{ site.baseurl }}/js/tour.js"></script>
{% include footer.html %}
